<ngx-one-column-layout>
    <nb-menu [items]="menu"></nb-menu>
    <router-outlet>
        <div class="container">
            <div class="row">
        
                <div class="col-4" *ngFor="let item of data;">
                    <nb-card style="width: 100%;">
                        <nb-card-header style="text-align: center;">
                            {{item.name}}
                        </nb-card-header>
    
                        <nb-card-body>
                            <div class="col-6" style="display: inline-block; text-align: center;">
                                <i [className]="'fas ' + item.icon + ' fa-4x'"></i>
                            </div>
                            <div class="col-6 vertical-center">
                                Statut : 
                                <strong *ngIf="item.status" class="text-success">OK</strong>
                                <strong *ngIf="!item.status" class="text-danger">ERROR</strong>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

            </div>
        </div>
    </router-outlet>
</ngx-one-column-layout>
