<ngx-one-column-layout>
    <nb-menu [items]="menu"></nb-menu>
    <router-outlet>
        <div class="container">
            <div class="row">

                <div class="col-4">
                    <nb-card class="list-card" size="medium">
                        <nb-card-header>{{ 'COACH_TITLE' | translate }}</nb-card-header>
                        <nb-list>
                            <nb-list-item *ngFor="let coach of coaches">
                                <nb-user nbButton [picture]="coach.picture" [name]="coach.name" [title]="coach.title"
                                    size="large" class="select-coach" (click)="loadUsers(coach)">
                                </nb-user>
                                <button nbButton style="margin-left: 10px;" (click)="openEditCoach(coach, dialog2)">
                                    <nb-icon icon="edit-2-outline" pack="eva"></nb-icon>
                                </button>
                            </nb-list-item>
                        </nb-list>
                    </nb-card>
                </div>

                <div class="col-8">
                    <nb-card *ngIf="currentCoach">
                        <nb-card-header>
                            {{ 'COACH_FOLLOWED_USERS' | translate }} {{coachNameUserList}}
                        </nb-card-header>

                        <nb-card-body>
                            <ng2-smart-table [settings]="settings" [source]="source"
                                (custom)="openUnfollow($event, dialog)">
                            </ng2-smart-table>
                        </nb-card-body>
                    </nb-card>

                    <nb-card *ngIf="!currentCoach">
                        <nb-card-header>
                            {{ 'COACH_FOLLOWING_USERS' | translate }}
                        </nb-card-header>

                        <nb-card-body>
                            <div class="default-background">
                                <strong>{{ 'COACH_INFO' | translate }}</strong> <br />
                                {{ 'COACH_INFO_MISSING' | translate }}
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

            </div>
        </div>

    </router-outlet>
</ngx-one-column-layout>

<ng-template #dialog2 let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>{{ 'COACH_INFO_TO' | translate }} {{currentCoach.name}}</nb-card-header>
        <nb-card-body style="max-width: 400px;">

            <div class="col-4" style="margin: auto; padding: 0px 5px;">
                <nb-user [picture]="currentCoach.picture" [onlyPicture]="true" size="giant"></nb-user>
            </div>

            <div style="margin-top: 20px; line-height: 1.5;">
                {{ 'COACH_FOLLOW_BY' | translate }} {{currentCoach.followers.length}} {{ 'COACH_PEOPLE' | translate }}.
            </div>

            <div style="margin-bottom: 20px;"></div>

            <button nbButton [status]="success" *ngIf="!currentCoach.isHighlighted" class="small-button"
                (click)="updatehighlightCoach(true);">{{ 'COACH_HIGHLIGHT' | translate }}</button>
            <button nbButton [status]="info" *ngIf="currentCoach.isHighlighted" class="small-button"
                (click)="updatehighlightCoach(false);">{{ 'COACH_NOT_HIGHLIGHT' | translate }}</button>

        </nb-card-body>
        <nb-card-footer style="text-align: center;">
            <button nbButton [status]="danger" (click)="ref.close()">{{ 'COACH_CLOSE' | translate }}</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>{{ 'COACH_INFO_TO' | translate }} {{currentUser.pseudo}}</nb-card-header>
        <nb-card-body>

            <div class="col-4" style="margin: auto; padding: 0px 5px;">
                <nb-user [picture]="currentUser.picture" [onlyPicture]="true" size="giant"></nb-user>
            </div>

            <div style="margin-top: 20px;"><strong>{{ 'COACH_PSEUDO' | translate }}</strong></div>
            <div>{{currentUser.pseudo}}</div>

            <div style="margin-bottom: 20px;"></div>

            <div><strong>{{ 'COACH_FULL_NAME' | translate }}</strong></div>
            <div>{{currentUser.lastName}} {{currentUser.firstName}}</div>

        </nb-card-body>
        <nb-card-footer>
            <button nbButton [status]="danger" (click)="ref.close()" style="width: 250px;">{{ 'COACH_CLOSE' | translate }}</button>
        </nb-card-footer>
    </nb-card>
</ng-template>