.default-background {
    color: #222b45;
    background-color: #f7f9fc;
    padding: 20px;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px 6px;
}

.input-file {
    background: #edf1f7;
    padding: 10px 15px;
    border-radius: 0.25rem;
}