<ngx-one-column-layout>
    <nb-menu [items]="menu"></nb-menu>
    <router-outlet>
        <div class="container">
            <div class="row">

                <div class="col-4">
                    <div class="calendar-container">
                        <nb-calendar [(date)]="date" (click)="showEvent($event)" [boundingMonth]="true"
                            [dayCellComponent]="dayCellComponent" showWeekNumber></nb-calendar>
                    </div>
                </div>

                <div class="col-8">
                    <nb-card>
                        <nb-card-header>
                            {{ 'EVENTS_DATE' | translate }} : {{date | date : "dd/MM/yyyy"}}
                        </nb-card-header>

                        <nb-card-body *ngIf="!currentEvent.id">
                            <div class="default-background">{{ 'EVENTS_NOT_FOUND' | translate }}</div>
                            <div style="text-align: center; margin-top: 10px;">
                                <button nbButton [status]="success" (click)="openPopup(dialog); popupType = 0;">
                                    {{ 'EVENTS_ADD' | translate }}</button>
                            </div>
                        </nb-card-body>

                        <nb-card-body *ngIf="currentEvent.id">
                            <div class="col-6" style="display: inline-block;">
                                <strong>{{currentEvent.name}}</strong> <br />
                                <div>{{currentEvent.body}}</div>
                                <div>{{currentEvent.address}}</div>
                                <div>{{currentEvent.zipcode}} {{currentEvent.city}}</div>
                            </div>
                            <div class="col-6" style="display: inline-block;">
                                <div style="text-align: center;" *ngIf="imagePath">
                                    <img [src]="imagePath" style="max-width: 260px; max-height: 200px;" />
                                </div>
                            </div>

                            <div style="text-align: center; margin-top: 10px;">
                                <button nbButton [status]="success" (click)="openPopup(dialog); popupType = 1;" 
                                    style="margin-right: 10px;">{{ 'EVENTS_MODIFY' | translate }}</button>
                                <button nbButton [status]="danger" (click)="openPopup(dialog2);">
                                    {{ 'EVENTS_DELETE' | translate }}</button>
                            </div>
                        </nb-card-body>

                    </nb-card>
                </div>

            </div>
        </div>
    </router-outlet>
</ngx-one-column-layout>

<ng-template #dialog let-data let-ref="dialogRef" size="lg">
    <nb-card>
        <nb-card-header *ngIf="popupType === 0">{{ 'EVENTS_ADD' | translate }}</nb-card-header>
        <nb-card-header *ngIf="popupType === 1">{{ 'EVENTS_MODIFY_2' | translate }}</nb-card-header>
        <nb-card-body style="max-width: 400px;">

            <div class="form-group">
                <label for="name" class="label">{{ 'EVENTS_NAME' | translate }}</label>
                <input type="text" nbInput fullWidth id="name" [(ngModel)]="currentEvent.name" placeholder="{{ 'EVENTS_NAME' | translate }}">
            </div>

            <div class="form-group">
                <label for="body" class="label">{{ 'EVENTS_BODY' | translate }}</label>
                <textarea nbInput fullWidth id="body" [(ngModel)]="currentEvent.body" placeholder="{{ 'EVENTS_BODY' | translate }}"></textarea>
            </div>

            <div class="form-group">
                <label for="address" class="label">{{ 'EVENTS_ADDRESS' | translate }}</label>
                <input type="text" nbInput fullWidth id="address" [(ngModel)]="currentEvent.address"
                    placeholder="{{ 'EVENTS_ADDRESS' | translate }}">
            </div>

            <div class="form-group">
                <div class="col-5" style="display: inline-block; padding-left: 0px;">
                    <label for="zipcode" class="label">{{ 'EVENTS_ZIPCODE' | translate }}</label>
                    <input type="number" nbInput fullWidth id="zipcode" [(ngModel)]="currentEvent.zipcode"
                        placeholder="{{ 'EVENTS_ZIPCODE' | translate }}">
                </div>

                <div class="col-7" style="display: inline-block; padding: 0px;">
                    <label for="city" class="label">{{ 'EVENTS_CITY' | translate }}</label>
                    <input type="text" nbInput fullWidth id="city" [(ngModel)]="currentEvent.city" placeholder="{{ 'EVENTS_CITY' | translate }}">
                </div>
            </div>

            <div style="position: relative;">
                <label for="image" class="label" style="display: block;">{{ 'EVENTS_IMAGE' | translate }}</label>
                <label nbButton for="image" *ngIf="!imageBase64 && !imagePath" class="input-file">
                    <i class="fas fa-plus"></i>
                </label>
                <input type="file" id="image" style="display: none;" (change)="fileChangeEvent($event)"
                    accept=".png, .jpeg, .jpg">

                <button nbButton [size]="medium" class="close-button" (click)="removePicture()"
                    *ngIf="imageBase64 || imagePath">
                    <i class="fas fa-times" style="margin-top: 2px;"></i>
                </button>

                <div style="text-align: center;" *ngIf="imageBase64 && !imagePath">
                    <img [src]="imageBase64" style="max-width: 200px; max-height: 160px;" />
                </div>
                <div style="text-align: center;" *ngIf="imagePath">
                    <img [src]="imagePath" style="max-width: 200px; max-height: 160px;" />
                </div>
            </div>

        </nb-card-body>
        <nb-card-footer style="text-align: center;">
            <button nbButton [status]="danger" (click)="ref.close()" style="margin-right: 10px;">{{ 'EVENTS_CANCEL' | translate }}</button>

            <button nbButton [status]="success" (click)="ref.close(); addEvent(); showEvent($event)"
                *ngIf="popupType === 0">{{ 'EVENTS_ADD_2' | translate }}</button>
            <button nbButton [status]="success" (click)="ref.close(); updateEvent(); showEvent($event)"
                *ngIf="popupType === 1">{{ 'EVENTS_SAVE' | translate }}</button>

        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #dialog2 let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>{{ 'EVENTS_DELETE_CONFIRMATION' | translate }}</nb-card-header>
        <nb-card-body style="max-width: 400px;">

            <div style="line-height: 1.5;">
                {{ 'EVENTS_DELETE_INFO_1' | translate }} {{currentEvent.name}} {{ 'EVENTS_DELETE_INFO_2' | translate }}
            </div>

        </nb-card-body>
        <nb-card-footer style="text-align: center;">
            <button nbButton [status]="danger" (click)="ref.close()" style="margin-right: 10px;">{{ 'EVENTS_CANCEL' | translate }}</button>
            <button nbButton [status]="success" (click)="deleteEvent(); ref.close(); showEvent($event)">{{ 'EVENTS_CONFIRM' | translate }}</button>
        </nb-card-footer>
    </nb-card>
</ng-template>