<ngx-one-column-layout>
    <nb-menu [items]="menu"></nb-menu>
    <router-outlet>
        <div class="container">
            <div class="row">
        
                <div class="col-12" style="text-align: center;" *ngIf="errorMessage">
                    <nb-card style="margin-bottom: 20px;">
                        <nb-card-body>
                            <button nbButton [size]="medium" class="close-button" (click)="errorMessage = null;">
                                <i class="fas fa-times" style="margin-top: 2px;"></i>
                            </button>
                            <span>{{errorMessage}}</span>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-md-12 col-lg-12 col-xxxl-12">
                    <nb-card>
                        <nb-card-header>
                            {{ 'EXERCISES_TITLE' | translate }}
                        </nb-card-header>

                        <nb-card-body>
                            <ng2-smart-table [settings]="settings" [source]="source"
                                (custom)="selectAction($event, dialog2, dialog)">
                            </ng2-smart-table>

                            <div style="text-align: center; margin-top: 10px;">
                                <button nbButton [status]="success"
                                    (click)="openPopup(dialog2); popupType = 2; currentExercise = {}; imageBase64 = null; imagePath = null;">
                                    {{ 'EXERCISES_ADD' | translate }}</button>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

            </div>
        </div>
    </router-outlet>
</ngx-one-column-layout>

<ng-template #dialog2 let-data let-ref="dialogRef" size="lg">
    <nb-card>
        <nb-card-header *ngIf="popupType === 0">{{ 'EXERCISES_SHOW' | translate }}</nb-card-header>
        <nb-card-header *ngIf="popupType === 1">{{ 'EXERCISES_MODIFY' | translate }}</nb-card-header>
        <nb-card-header *ngIf="popupType === 2">{{ 'EXERCISES_ADD' | translate }}</nb-card-header>
        <nb-card-body style="max-width: 400px;">

            <div class="form-group">
                <label for="name" class="label">{{ 'EXERCISES_NAME' | translate }}</label>
                <input type="text" nbInput fullWidth id="name" [(ngModel)]="currentExercise.name" [readonly]="popupType === 0"
                    placeholder="{{ 'EXERCISES_NAME' | translate }}">
            </div>
            <div class="form-group">
                <label for="description" class="label">{{ 'EXERCISES_DESCRIPTION' | translate }}</label>
                <input type="text" nbInput fullWidth id="description" [(ngModel)]="currentExercise.description"
                    [readonly]="popupType === 0" placeholder="{{ 'EXERCISES_DESCRIPTION' | translate }}">
            </div>
            <div class="form-group">
                <label for="repetition" class="label">{{ 'EXERCISES_REPEAT' | translate }}</label>
                <input type="number" nbInput fullWidth id="repetition" [(ngModel)]="currentExercise.repeat_number"
                    [readonly]="popupType === 0" placeholder="{{ 'EXERCISES_REPEAT' | translate }}">
            </div>
            <div class="form-group">
                <label for="restTime" class="label">{{ 'EXERCISES_REST_TIME' | translate }}</label>
                <input type="number" nbInput fullWidth id="restTime" [(ngModel)]="currentExercise.rest_time"
                    [readonly]="popupType === 0" placeholder="{{ 'EXERCISES_REST_TIME' | translate }}">
            </div>

            <div style="position: relative;" *ngIf="imageBase64 || imagePath || popupType !== 0">
                <label for="image" class="label" style="display: block;">{{ 'EXERCISES_IMAGE' | translate }}</label>
                <label nbButton for="image" *ngIf="(!imageBase64 && !imagePath) && (popupType !== 0 || popupType === 2)" class="input-file">
                    <i class="fas fa-plus"></i>
                </label>
                <input type="file" id="image" style="display: none;" (change)="fileChangeEvent($event)" accept=".png, .jpeg, .jpg">

                <button nbButton [size]="medium" class="close-button" (click)="removePicture()" *ngIf="(imageBase64 || imagePath) && popupType !== 0">
                    <i class="fas fa-times" style="margin-top: 2px;"></i>
                </button>
                
                <div style="text-align: center;" *ngIf="imageBase64 && !imagePath">
                    <img [src]="imageBase64" style="max-width: 200px; max-height: 160px;" />
                </div>
                <div style="text-align: center;" *ngIf="imagePath">
                    <img [src]="imagePath" style="max-width: 200px; max-height: 160px;" />
                </div>
            </div>

        </nb-card-body>
        <nb-card-footer style="text-align: center;">
            <button nbButton [status]="success" (click)="ref.close();" *ngIf="popupType === 0">{{ 'EXERCISES_CLOSE' | translate }}</button>

            <button nbButton [status]="danger" (click)="ref.close()" style="margin-right: 10px;"
                *ngIf="popupType !== 0">{{ 'EXERCISES_CANCEL' | translate }}</button>
            <button nbButton [status]="success" (click)="ref.close(); editExercise();"
                *ngIf="popupType === 1">{{ 'EXERCISES_SAVE' | translate }}</button>
            <button nbButton [status]="success" (click)="ref.close(); addExercise();"
                *ngIf="popupType === 2">{{ 'EXERCISES_ADD_2' | translate }}</button>
        </nb-card-footer>
    </nb-card>
</ng-template>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>{{ 'EXERCISES_CONFIRM_DELETE' | translate }}</nb-card-header>
        <nb-card-body style="max-width: 400px;">

            <div style="line-height: 1.5;">
                {{ 'EXERCISES_INFO_DELETE_1' | translate }} {{currentExercise.name}} {{ 'EXERCISES_INFO_DELETE_2' | translate }}
            </div>

        </nb-card-body>
        <nb-card-footer style="text-align: center;">
            <button nbButton [status]="danger" (click)="ref.close()" style="margin-right: 10px;">{{ 'EXERCISES_CANCEL' | translate }}</button>
            <button nbButton [status]="success" (click)="confirmDelete(); ref.close()">{{ 'EXERCISES_CONFIRM' | translate }}</button>
        </nb-card-footer>
    </nb-card>
</ng-template>