:host /deep/ ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
  }
  
  :host /deep/ ng2-st-tbody-custom {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 10px 0px;
  }

  :host /deep/ a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block !important;
    width: 33% !important;
    text-align: center;
  }
  
  :host /deep/ ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3;
  }

