<ngx-two-columns-layout>
    <router-outlet>
        <div class="container">
            <div class="row">
        
                <div class="col-12" style="text-align: center;" *ngIf="errorMessage">
                    <nb-card style="max-width: 600px; margin: auto; margin-bottom: 20px;">
                        <nb-card-body>
                            <span>{{errorMessage}}</span>
                        </nb-card-body>
                    </nb-card>
                </div>

                <nb-card style="margin: auto; padding: 20px 50px; text-align: center;">
                    <nb-card-header><h5>CONNEXION</h5></nb-card-header>
                    <nb-card-body style="text-align: left;">
                        <div class="form-group">
                            <label for="email" class="label">Email</label>
                            <input type="text" nbInput fullWidth id="email" [(ngModel)]="user.email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="label">Mot de passe</label>
                            <input type="password" nbInput fullWidth id="password" [(ngModel)]="user.password" placeholder="Mot de passe">
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                        <button type="submit" nbButton status="success" (click)="login()">Se Connecter</button>
                    </nb-card-footer>
                </nb-card>
                
            </div>
        </div>
    </router-outlet>
</ngx-two-columns-layout>