.select-user {
    width: -webkit-fill-available;
}

.select-user:hover {
    background-color: #f7f9fc;
    border-radius: 0;
}

.default-background {
    color: #222b45;
    background-color: #f7f9fc;
    padding: 20px;
}