<ngx-one-column-layout>
    <nb-menu [items]="menu"></nb-menu>
    <router-outlet>
        <div class="container">
            <div class="row">

                <div class="col-6">

                    <div class="primary-background">
                        <span *ngIf="notifications.length > 0">Vous avez actuellement
                            <strong>{{notifications.length}}</strong> notifications.</span>
                        <span *ngIf="notifications.length === 0">Vous n'avez aucune nouvelle notification.</span>
                    </div>

                    <nb-card class="list-card" size="small">
                        <nb-card-header>Notifications</nb-card-header>
                        <nb-list>
                            <nb-list-item *ngFor="let notif of notifications" style="padding: 0px;">
                                <div [className]="'default-background ' + (currentNotif && notif.id === currentNotif.id ? 'default-background-select' : '')" style="position: relative;" (click)="selectNotif(notif)">
                                    <i [className]="'fas ' + notif.icon + ' fa-2x'" style="margin-right: 20px;"></i>
                                    <button nbButton [size]="tiny" class="close-button" (click)="removeNotification(notif)">
                                        <i class="fas fa-times" style="margin-top: 2px;"></i>
                                    </button>
                                    <div style="display: inline-block; padding-bottom: 10px;">
                                        {{notif.message}}
                                    </div>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </nb-card>

                </div>

                <div class="col-6">
                    <nb-card>
                        <nb-card-header>
                            Contenu de la notification
                        </nb-card-header>

                        <nb-card-body>
                            <div *ngIf="currentNotif">
                                {{currentNotif.message}} <br />
                                Hey ! Comment vas-tu ? 
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

            </div>
        </div>
    </router-outlet>
</ngx-one-column-layout>